@model IEnumerable<site_projetosocial_squad5.Models.Servico>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        .teste{
            display: flex;
            flex-wrap: wrap;
        }
        section{
            margin: 1%;
        }
    </style>
</head>
<body>


<main class="container">
    <h1>Serviços</h1>
    <p>
    <a asp-action="Create">Criar novo</a>
    </p>
    <button class="btn">
        <a class="nav-link text-dark" asp-area="" asp-controller="Servico" asp-action="Create">Cadastre o seu serviço</a>
    </button>
                                   

<section class="teste">
@foreach (var servico in Model){
    <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">@servico.nome_servico</h5>
    <h6 class="card-subtitle mb-2 text-muted">@servico.FK_nome_negocio</h6>
    <p class="card-text">@servico.descricao_servico</p>
    <p class="card-text">@servico.preco_produto</p>
    <a href="#" class="card-link">Contatar</a>
  </div>
</div>
}
</section>
</main>

</body>
</html>