<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/e450de3a-91db-4b89-95c3-0ed14875201b/resourceGroups/Mariserver/providers/Microsoft.Web/sites/site-projetosocial-squad520220112222827</ResourceId>
    <ResourceGroup>Mariserver</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://site-projetosocial-squad520220112222827.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>f47d1ace-37c7-40bf-bb0a-bbd3afde976d</ProjectGuid>
    <PublishUrl>https://site-projetosocial-squad520220112222827.scm.azurewebsites.net/</PublishUrl>
    <UserName>$site-projetosocial-squad520220112222827</UserName>
    <_SavePWD>True</_SavePWD>
	<EnvironmentName>Development</EnvironmentName>
  </PropertyGroup>
	
</Project>