*{
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}

/*-------------------CODIGO-----------*/

@font-face{
  font-family: 'JushleyShine';
  src: url('./fonts/JushleyShine.otf');
}

@font-face{
  font-family: 'Black_Emerald';
  src: url('./fonts/Black_Emerald.ttf');
}

@font-face{
  font-family: 'Fontjek';
  src: url('./fonts/Fontjek.otf');
}

@font-face{
  font-family: 'MyLove';
  src: url('./fonts/MyLove.otf');
}

@font-face{
  font-family: 'Heavitas';
  src: url('./fonts/Heavitas.ttf');
}

#header{
  background-color: #FFDE59;
}

.imagemMulher{
  margin-left: 20px;
  width: auto;
  height: auto;
}

.nomeLogo{
  margin-right: 350px;
}

.imagemMulher img{
  width: 250px;
  margin-top: 10px;
}

.texto-logo {
  font-family: 'Fontjek';
  font-size: 100px;
  color: #ff1616;
}

/*-------------------CODIGO-----------*/


nav{
  background-color: black;
  height: 100px;
}

nav ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;  
}

nav > ul > li{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 0px 20px;
}

li > a{
  color: white;
  text-decoration: none;
  font-family: 'Black_Emerald';
  font-size: 20pt;
}

li > a:hover{
  color: rgb(230, 233, 63);
  text-decoration: none;
  font-weight: bold;  
}

footer {
	width:100%;
  background-color: #FFDE59;
  text-align: center;
  padding: 30px 0px;
}

.container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container-body {
  text-align: center;
  
}

h1 {
  font-family: open, sans-serif;
  font-size: 50px;
}
