@model site_projetosocial_squad5.Models.Afiliada

@{
    ViewData["Title"] = "EmpoDelas - Cadastrar-se";
}



<h4>Afiliada</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nome_afiliada" class="control-label"></label>
                <input asp-for="nome_afiliada" class="form-control" />
                <span asp-validation-for="nome_afiliada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sobrenome_afiliada" class="control-label"></label>
                <input asp-for="sobrenome_afiliada" class="form-control" />
                <span asp-validation-for="sobrenome_afiliada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email_afiliada" class="control-label"></label>
                <input asp-for="email_afiliada" class="form-control" />
                <span asp-validation-for="email_afiliada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="senha_afiliada" class="control-label"></label>
                <input asp-for="senha_afiliada" class="form-control" />
                <span asp-validation-for="senha_afiliada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefone_afiliada" class="control-label"></label>
                <input asp-for="telefone_afiliada" class="form-control" />
                <span asp-validation-for="telefone_afiliada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

