@{
    ViewData["Title"] = "EmpoDelas - Resumo";
}

<main class="container">
    <h1>Cadastro realizado com sucesso!</h1>
    <p>Clique no botão abaixo para afiliar-se a um produto ou serviço.</p>
    <button><a id="linkNav" class="nav-link" asp-area="" asp-controller="ProdutoServico" asp-action="Index">PRODUTOS E SERVIÇOS</a></button>
</main>