/*----------------------SEÇÃO 1   /   HOME - SOBRE NÓS--------------------*/

#secao1{
  margin-top: 30px;
  padding: 70px 0px;
  background-image: url('./img/trescaneiros-ibura-deCima.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.texto{
  font-size: 15px;
  color: white;
  text-shadow: 0px 0px 7px rgb(61, 0, 0);
  margin-top: 40px;
  font-weight: bold;
}

.sobrenos{
  font-family: 'Heavitas';
  font-size: 25px;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 10px rgb(61, 0, 0);
}

/*----------------------FINAL SEÇÃO 1 --------------------*/
/*-----------------DIV BOTÃO CADASTRE-SE  /  HOME -----------------*/
#MainCadastrar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  padding: 80px 0px;
}

#MainCadastrar h3{
  font-family: 'Oswald-SemiBold';
  font-size: 30px;
  text-align: center;
  font-style: italic;
}

#fraseMain{
  padding: 20px;
}

#botaoCadastro{
  text-align: center;
  padding: 20px;
  background-color: #e71111;
  height: 70px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#botaoCadastro:hover{
  background-color: #cc0707;
}

#botaoCadastro a{
  font-family: 'Heavitas';
  text-decoration: none;
  font-size: 24pt;
  color: white;
}

/*-----------------FIM DIV BOTÃO CADASTRE-SE -----------------*/
/*-------------------SEÇÃO 2  /  DEPOIMENTO - HOME-------------------*/

#secao2{
  height: auto;
  margin-top: 20px;
  background-color: #f1f1f1;
  padding: 10px;
}

#boxDepoimento{
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tituloDepo{
  height: auto;
  
}

#tituloDepo h1{
  
    font-family: 'Heavitas';
    font-size: 50px;
    text-align: center;
    padding-top: 10px;
    color: black;
}

#textoDepo{
  font-size: 15pt;
  padding: 10px;
  height:auto;

}

#textoDepo p {
  /* font-size: 12pt; */
  text-align: justify;
  padding: 40px;
}


/*-----------------FIM SEÇÃO 2  /  DEPOIMENTO - HOME-----------------*/
/*------------------- formulario contato  - CONTATO ---------------------*/


.faleConosco{
  text-align: center;
  font-family: 'Heavitas';
  font-size: 35pt;
}

form input{
  padding: 10px;
  border-radius: 5px;
  border: 1px gray solid;
  font-size: 8pt;
  background-color: #ffffe6;
}

form textarea{
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffe6;
}

form input[type=submit]{
  cursor: pointer;
  border: 0px;
  background-color: #dbdbb1;
  width: 30%;
}

form input[type=submit]:hover{
  background-color: #FFDE59;
}





/*-------------------- MEDIAS QUERY --------------------*/

@media (max-width: 320px){
  .texto{
    font-size: 10px;
  }
  
  .sobrenos{
    font-size: 20px;
  }
}

@media (min-width: 600px){
  .texto{
    font-size: 20px;
  }

  #tituloDepo {
      font-size: 50px;
  }
  
  .sobrenos{
    font-size: 45px;
  }
}

@media (min-width: 936px){
  .texto{
    font-size: 30px;
  }
  
  #secao1{
    height: 700px;
  }

  .sobrenos{
    font-size: 65px;
  }

  #boxDepoimento{
    width: 850px;
  }
}