@{
    ViewData["Title"] = "Home Page";
}

<link href="style-header-footer.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="~/css/header.css">
<link rel="stylesheet" href="~/css/index.css">


<section id="secao1" class="container-fluid">
  <div class="d-flex text-center">
    <h1 class="sobrenos">SOBRE NÓS</h1>
  </div>
  <div class="d-flex">
    <p class="texto">Projeto visa ajudar as mulheres da
      comunidade <br> do bairro de Três Carneiros em Recife!
    </p>
  </div>
</section>
<main id="MainCadastrar" class="container-fluid">
  <div id="fraseMain" class="container-fluid">
    <h3>É empreendedora e mora no bairro? Clique aqui e faça o seu pré-cadastro!</h3>
  </div> 
  <div id="botaoCadastro">
    <a href="https://forms.gle/tvwQPa6FetQSH1rx9" target="_blank">Clique Aqui</a>
  </div>
</main>
<section id="secao2" class="container-fluid">
  <div id="boxDepoimento" class="container">
    <div id="textos" class="container">
      <h1 class="display-2">Valores</h1>
    </div>
    <div id="textoDepo">
      <p>
        Utilizamos de valores sociais como a cidadania, ética, respeito e dignidade, enfatizando que o direito do trabalho, da moradia, das condições mínimas de sobrevivência é para todos, independente de região, gênero, ou quaisquer outros meios de desigualdade social.
      </p>
    </div>
  </div>
  <div id="boxDepoimento" class="container">
    <div id="textos" class="container">
      <h1 class="display-2">Valores</h1>
    </div>
    <div id="textoDepo">
      <p>
        Utilizamos de valores sociais como a cidadania, ética, respeito e dignidade, enfatizando que o direito do trabalho, da moradia, das condições mínimas de sobrevivência é para todos, independente de região, gênero, ou quaisquer outros meios de desigualdade social.
      </p>
    </div>
  </div>
  <div id="boxDepoimento" class="container">
    <div id="textos" class="container">
      <h1 class="display-2">Valores</h1>
    </div>
    <div id="textoDepo">
      <p>
        Utilizamos de valores sociais como a cidadania, ética, respeito e dignidade, enfatizando que o direito do trabalho, da moradia, das condições mínimas de sobrevivência é para todos, independente de região, gênero, ou quaisquer outros meios de desigualdade social.
      </p>
    </div>
  </div>
</section>
                     