@{
    ViewData["Title"] = "EmpoDelas - Admin";
}

<div class="container row">
    
    <div class="col">
        <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Afiliada" asp-action="Create">Cadastro<br> Afiliada</a>
        </li>
    </div>
    <div class="col">
        <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Autonoma" asp-action="Create">Cadastro<br> Autonôma</a>
        </li>
    </div>

    <div class="col">
        <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Afiliacao" asp-action="Create">Cadastrar<br>  Afiliação</a>
        </li>
    </div>    

    <div class="col">
        <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="ProdutoServico" asp-action="Create">Cadastrar<br>  Produto ou Serviço</a>
        </li>
    </div>         

</div>