@{
    ViewData["Title"] = "EmpoDelas - Admin";
}
<style>
    *{
        font-family: sans-serif;
    }
</style>


<main class="container">
    <h1>Área do Administrador</h1>
    <div class="row">
    <div class="col">
        <h1>Cadastrar</h1>
        <ul>
            <li><a class="nav-link text-dark" asp-area="" asp-controller="Afiliada" asp-action="Create">Cadastro Afiliada</a></li>
            <li><a class="nav-link text-dark" asp-area="" asp-controller="Autonoma" asp-action="Create">Cadastro Autonôma</a></li>
            <li><a class="nav-link text-dark" asp-area="" asp-controller="Afiliacao" asp-action="Create">Cadastrar Afiliação</a></li>
            <li><a class="nav-link text-dark" asp-area="" asp-controller="ProdutoServico" asp-action="Create">Cadastrar<br>  Produto ou Serviço</a></li>
        </ul>
    </div>
    <div class="col">
        <h1>Visualizar</h1>
        <ul>
            <li><a class="nav-link text-dark" asp-area="" asp-controller="Afiliada" asp-action="Index">Afiliadas Cadastradas</a></li>
            <li><a class="nav-link text-dark" asp-area="" asp-controller="Autonoma" asp-action="Index">Autonômas Cadastradas</a></li>
            <li><a class="nav-link text-dark" asp-area="" asp-controller="Afiliacao" asp-action="Index">Afiliações</a></li>
            <li><a class="nav-link text-dark" asp-area="" asp-controller="ProdutoServico" asp-action="Index">Produtos e Serviços cadastrados</a></li>
        </ul>
    </div>
    </div>
</main>
        

