@{
    ViewData["Title"] = "Contato";
}

<style>
  h1{
    font-family: 'Heavitas';
    font-size: 53px;
    text-align: center;
  }

</style>

<main>
<h1 class="faleConosco">Fale Conosco </h1>
  <br>
  <div class="container">
    <div class="box form-group">
      <form style="text-align:center">
        <input type="text" style="font-size:16pt" class="form-control" id="name" name="name" size="30" placeholder="Nome Completo">
        <br><br>
        <input type="email" style="font-size:16pt" class="form-control" id="email" name="email" size="30" placeholder="E-mail">
        <br><br>
        <input type="text" style="font-size:16pt" class="form-control" id="tel" name="tel" size="30" placeholder="Telefone">
        <br><br>
        <textarea id="msg" name="msg" class="form-control" placeholder="Descrição" style="font-size:16pt" rows="8" cols="33"></textarea>
        <br><br>
        <input type="submit" class="btn btn-primary" style="font-size:16pt" name="enviar" value="Enviar">
      </form>
      <br>
    </div>
  </div> 

  </main>