@{
    ViewData["Title"] = "Home Page";
}

<link href="style-header-footer.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="~/css/header.css">
<link rel="stylesheet" href="~/css/index.css">


<section id="secao1" class="container-fluid">
      <div class="d-flex text-center">
        <h1 class="sobrenos">SOBRE NÓS</h1>
      </div>
      <div class="d-flex">
        <p class="texto">Projeto visa ajudar as mulheres da
        comunidade <br> do bairro de Três Carneiros em Recife!</p>
      </div>
    </section>
    <main id="MainCadastrar" class="container-fluid">
      <div id="fraseMain" class="container">
        <h3>É empreendedora e mora no bairro? Clique aqui e faça o seu pré-cadastro!</h3>
      </div> 
      <div id="botaoCadastro">
        <a href="https://forms.gle/tvwQPa6FetQSH1rx9" target="_blank">Clique Aqui</a>
      </div>
    </main>
    <section id="secao2" class="container-fluid">

     

      <div id="boxDepoimento" class="container">
        <div id="boxInternoDepoimento" class="container">
          <div id="textos" class="container">
            <div id="textoDepo">
              <h1>Missão</h1>
              <p>
                Transformar, através da tecnologia, cidadania e ética, a expectativa de mulheres residentes do bairro do Ibura localizado na cidade de Recife-PE, em situação de vulnerabilidade social quanto ao desemprego. Nossa missão é oferecer para elas através do nosso site e atividades, ferramentas necessárias para a propagação de mais oportunidades e conhecimento, incentivando-as, de forma que possam dar continuidade no desenvolvimento do trabalho, que serão munidos de coragem, disposição e determinação para assim, a proposta ampliar-se as demais localidades.
              </p>
            </div>
          </div>
        </div>
        <div id="boxDepoimento" class="container">
        <div id="boxInternoDepoimento" class="container">
          <div id="textos" class="container">
            <div id="textoDepo">
              <h1>Visão</h1>
              <p>
                Em análise dos problemas e dificuldades encontrados na região, buscamos proporcionar soluções que reduzam a taxa de vulnerabilidade e aumente respectivamente a quantidade de mulheres ativas no mercado, seja por meio do empreendimento próprio, seja retornando ao mundo do trabalho, nossa visão é implementar ações capazes de capacita-las, empondera-las a ponto de transformar novas realidades.
              </p>
            </div>
          </div>
        </div>
       <div id="boxDepoimento" class="container">
        <div id="boxInternoDepoimento" class="container">
          <div id="textos" class="container">
            <div id="textoDepo">
              <h1>Valores</h1>
              <p>
                Utilizamos de valores sociais como a cidadania, ética, respeito e dignidade, enfatizando que o direito do trabalho, da moradia, das condições mínimas de sobrevivência é para todos, independente de região, gênero, ou quaisquer outros meios de desigualdade social.
              </p>
            </div>
          </div>
        </div>
          
        </div>
      </div>
    </section>




                     