@{
    ViewData["Title"] = "Home Page";
}

<link href="style-header-footer.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="~/css/header.css">
<link rel="stylesheet" href="~/css/index.css">


<section id="secao1" class="container-fluid">
  <div class="d-flex text-center">
    <h1 class="sobrenos">SOBRE NÓS</h1>
  </div>
  <div class="d-flex">
    <p class="texto">Projeto visa ajudar as mulheres da
      comunidade <br> do bairro de Três Carneiros-Ibura em Recife!
    </p>
  </div>
</section>
<main  class="container-fluid">
  
  

<section id="secao2" class="container-fluid">
  <div id="boxDepoimento" class="container-fluid">
    <div id="tituloDepo" class="container-fuid">
      <h1>Como funciona?</h1>
    </div>
    <div id="textoDepo">
      <p>
        Criamos o site "EmpoDelas" com o intuito de gerar uma rede de apoio entre as mulheres do bairro (empreendedoras ou não), para que elas possam divulgar seus produtos e serviços, facilitando a movimentação do comércio e  gerando novas oportunidades para outras mulheres que estão sem fonte de renda no momento atual.
      </p>
    </div>
  </div>
</section>

  <div id="MainCadastrar">
  <div id="fraseMain" class="container-fluid">
    <h3>GOSTARIA DE PARTICIPAR DESSE PROJETO? FAÇA O PRÉ-CADASTRO</h3>
  </div> 
  <div id="botaoCadastro">
    <a href="https://forms.gle/tvwQPa6FetQSH1rx9" target="_blank">Clique Aqui</a>
  </div>
  </div>

</main>

                     