@{
    ViewData["Title"] = "Home Page";
}



<button class="btn">
<a class="nav-link text-dark" asp-area="" asp-controller="Cadastro" asp-action="Create">Cadastrar-se</a>
</button>
 
                     